@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* :root {
  --green-very-dark: #0a2b26;
  --green-dark: #06423a;
  --green: #09695e;
  --green-light: #b6debc;
  --footer-color: #85bc8b;
} */

.fp-table {
  justify-content: flex-start !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #b6debc80 !important;

  overflow-x: hidden !important;
}
.wave {
  width: 100% !important;
  background-image: url(/blurry-gradient.svg);
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
}
.blob {
  width: 100% !important;
  background-image: url(/blob.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.fp-watermark {
  display: none !important;
}
body {
  color: #ecf5f8 !important;
}
.body {
  color: #d6ecd8;
}
.opac {
  opacity: 1 !important;
}

.custom-heading:hover .underline-last {
  text-decoration: underline;
}

.bg-mobile-scroll {
  background-attachment: scroll;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-left {
  animation: scroll-left 25s linear infinite;
}
