@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fp-table {
  justify-content: flex-start !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(182, 222, 188, 0.5) !important;
  overflow-x: hidden !important;
}
.fp-watermark {
  display: none !important;
}
body {
  color: #ecf5f8 !important;
}
