@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fp-table {
  justify-content: flex-start !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(182, 222, 188, 0.5) !important;
  background-image: url(/blurry-gradient.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden !important;
}
.fp-watermark {
  display: none !important;
}
body {
  color: #ecf5f8 !important;
}

.opac {
  opacity: 1 !important;
}

.custom-heading:hover .underline-last {
  text-decoration: underline;
}
